.pixel-row:after {
  clear: both;
  content: "";
  display: table;
}


.pixel {
  border: 2px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
}

html, body {
  min-height: 100%;
  min-width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 12px;
  z-index: 99;
}

.container {
  display:  flex;
  flex-direction:  column;
  align-items: center;
  justify-content: center;
}

.categories {
  width: 360px;
  min-height: 48px;
}

.search {
  display: flex;
  justify-content: center;
  width: 360px;
  min-height: 48px;
}

.clearSearch {
  border-radius: 0px 8px 8px 0px !important;
}

.searchField {
  border-radius: 8px 0px 0px 8px !important;
  background-color: white !important;
}

#error {
  font-size: 76px;
  color: red;
}

.list {
  height: 100vh
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-viewer {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 4px;
}

.icon-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-name {
 font-weight: 900;
}
